$border-color: rgba(0, 0, 0, 0.31);

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px;
}

.services-title,
.about_title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 30px;
}

.about {
  &_description-title {
    font-weight: bold;
  }
}

.services {
  &-title {
    font-size: 30px;
    font-weight: bold;
  }

  &-filters ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background: rgba(128, 128, 128, 0.2);
  }

  &-filters ul li {
    cursor: pointer;
    padding: 10px 32px;
  }

  &-filters ul li:last-child {
    padding-right: 20px;
  }

  &-filters ul li:first-child {
    padding-left: 20px;
  }

  &-filters ul li.active {
    background: rgba(128, 128, 128, 0.4);
  }

  &-items {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid $border-color;
    gap: 20px;
    padding: 20px 10px 20px 10px;
    background: rgba(128, 128, 128, 0.2);

    &_item {
      border: 1px solid $border-color;
      padding: 10px;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_buttons {
      margin-top: 10px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

