.header .container {
  height: 100%;
}
.header-translation  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  height: 100%;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;

  & .lang {
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid;
    }
  }
}

.header {
  height: 40px;
  background-color: #252525;
}
